.container {
    border: 1px dashed gray;
    padding: 5px;
    margin: 10px;
}

.row {
    margin: 0;
    padding: 20px 0;
}

.col {
    padding: 20px 0;
    border: 1px dashed #87CEFA;
    margin: -1px;
    box-sizing: border-box;
}
