.container {
    border: 1px dashed #87CEFA;
    padding: 10px 0;
    margin: 10px;
}

.row {
    margin: 0;
    padding: 10px 0;
}

.col {
    padding: 10px 0;
    border: 1px dashed #AD18E6;
    box-sizing: border-box;
}
